<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet/scss" type="text/css" href="/styles/resets.scss">
        <link rel="stylesheet/scss" type="text/css" href="/styles/base.scss">
        <link rel="stylesheet/scss" type="text/css" href="/styles/header.scss">
        <link rel="stylesheet/scss" type="text/css" href="/styles/form.scss">
        <link rel="stylesheet/scss" type="text/css" href="/styles/main.scss">
        <link rel="stylesheet/scss" type="text/css" href="/styles/footer.scss">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input 
                        id="textToAnalyse" 
                        type="text" 
                        name="input" 
                        value="" 
                        placeholder="Name"
                    >
                    <input 
                        type="submit" 
                        name="" 
                        value="Check Text" 
                        onclick="return Client.handleSubmit(event)" 
                        onsubmit="return Client.handleSubmit(event)"
                    >
                </form>
            </section>

            <section>
                <strong>Results:</strong>
                <div id="results">
                    <div>Your text</div>
                    <div id="analyzed-text"></div>

                    <div id="vocal-pol">
                        is rated <span id="polarity-rating"></span>
                    </div>
                    
                    <div id="vocal-sub">
                        and turns out to be rather <span id="subjectivity-rating"></span>
                    </div>

                </div>
            </section>

        </main>

        <footer>
            <p>Thank you for using the Text Analyzer, created by @kekskiller</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
